<div class="container flex justify-content-center align-items-center">
    <div class="login-card shadow-5">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label>Ingrese su usuario:</label>
                <input type="text" pInputText />
            </div>
            <div class="field col-12">
                <label>Ingrese su contraseña</label>
                <input type="password" pInputText />
            </div>
            <div class="field col-6">
                <p-button 
                    severity="success"
                    label="Iniciar sesión"
                    icon="pi pi-sign-in"/>
            </div>
            <div class="field col-6">
                <p-button 
                    severity="help"
                    label="Solicitar acceso"
                    icon="pi pi-question"/>
            </div>
        </div>
    </div>
</div>