.container {
    width: 100vw;
    height: 98vh;
}
.login-card {
    border-radius: 1.2rem;
    background-color: #FFF;
    width: 28rem;
    padding-top: 1.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}