<header 
  class="app-topbar flex align-items-center justify-content-between px-3 py-2">
  <div class="flex align-items-center gap-2">
    <i 
      class="pi pi-bars" 
      style="color: white; cursor: pointer;"
      (click)="onMenuClick.emit()"></i>
    <span style="color: white" class="ml-1 font-bold text-xl">TTN Hub</span>
  </div>
  <div class="flex flex-column gap-1">
    <div class="flex align-items-center gap-2" style="cursor: pointer;" (click)="doLogin()">
      <i class="pi pi-sign-in"></i>
      <label>Iniciar sesión</label>
    </div>
    <small class="flex justify-content-end" style="color: white;">Versión demo</small>
  </div>
</header>